<div class="t-fixed">
    <header class="c-header t-fixed__header">
        <div class="c-header__label">{{#link-to "index" class="o-brand" }}Stock Advisor{{/link-to}}</div>
    </header>
    <main class="t-fixed__content">
    {{outlet}}
    </main>
</div>